
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding-bottom: 50px;
    text-align: left;


}

h1{
    font-size: 4vw;
    margin: 0;
    text-align: left;
    color: #333;
}

.rectangleHome {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    background-color: #f4f4f4;
    border: 2px solid #f4f4f4;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%; 
    height: auto;  
    margin-left: 20px;
}

header {
    background-color: #2b5b70;  
    color: white;  
    padding: 20px;
    text-align: center;
}


.content {
    padding: 15px;
    margin: 15px;
    background-color: #fff; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;  
}

.content h2 {
    color: #333;
    font-size: 1.8rem; 
    margin-bottom: 10px;  
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.navbar-toggle {
    display: none;
    background-color: #333;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.9rem;
    z-index: 10; /* garante que o rodapé não sobreponha o conteúdo */
}
